{% extends 'news/base.html' %}
{% load staticfiles %}

{% block headerdata %}
  <link rel="stylesheet" type="text/css" href="{% static 'news/styles/contacts.css' %}">

{% endblock %}
{% block content %}
<div class="block">
  <div class="contacts">
    <p><span>Телефоны в Минске:</span></p>
    <p><span>МТС:</span> +375 (29) 444-44-44</p>
    <p><span>Velcom:</span> +375 (44) 333-33-33</p>
    <p><span>Адрес СТО в Минске:</span></p>
    <p>ул.Бородинская 23, г. Минск</p>
  </div>
  <div class="map">
    <h2>Карта проезда на СТО</h2>
    <iframe
          width="500"
          height="500"
          frameborder="0" style="border:0"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAeseD2cOj2UEQzh1pfiXzlobpuMH3c-BI
            &q=Space+Needle,Seattle+WA" allowfullscreen>
        </iframe>
  </div>
</div>
{% endblock %}