{% extends 'news/base.html' %}
{% load staticfiles %}

{% block slider %}
  <div class="slider">
    <img src="{% static 'news/images/slider-1.png' %}" alt="slide-1">
    <!-- TODO: slider
      <img src="images/slider-2.png" alt="slide-2">
      <img src="images/slider-3.png" alt="slide-3">
    -->
    <div class="sl-buttons">
      <ul>
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% if latest_news_list %}
  <ul>
    {% for news in latest_news_list %}
        <li>
          <h2>{{ news.title }}</h2>
          <p> {{ news.article_descr }}</p>
          <p>{{ news.date|date:"d-m-Y" }}</p>
        </li>
    {% endfor %}
  </ul>
  {% else %}
      <p>No news</p>
  {% endif %}
{% endblock %}