{% extends 'news/base.html' %}
{% block content %}
 <article>
   <h2>Эвакуатор дешево в Минске от <span>15 РУБ.</span></h2>
   <p>Если вы столкнулись с необходимостью заказать эвакуатор, не тратьте время напрасно.
      Всего один звонок в нашу службу – и мы поспешим к вам на помощь в любое время суток, невзирая на
      погодные условия, загруженность трасс и прочие сложности. Наши круглосуточные эвакуаторы дежурят во
      всех районах столицы, поэтому минимальное время подачи машины составляет от 20 минут. Большой опыт работы
      и наличие мощного современного автопарка позволяет нам быстро реагировать на срочные вызовы и качественно
      разрешать плановые задачи.</p>
 </article>
 <article>
   <h2>Цены на услуги эвакуатора</h2>
   <p>Ниже приведены тарифы на основные услуги эвакуатора.</p>
    <table>
      <tr>
          <th>Транспортировка</th>
          <th>Цена</th>
      </tr>
      {% if price_list %}
        {% for pr in price_list %}
          <tr>
            <td>{{ pr.transp_type }}</td>
            <td>от {{ pr.price }} руб.</td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
    <p class="descr-block">
      Также вы можете <a href="#"><span>посмотреть</span></a> или <a href="#"><span>скачать</span></a> полный прайс-лист.
    </p>
    <p class="descr-block">
      Принимая заказ эвакуатора, диспетчер еще раз озвучит, сколько стоят необходимые вам услуги,
      и рассчитает итоговую стоимость, исходя из конкретной ситуации.
    </p>
    <p class="descr-block">
      Основные факторы, влияющие на цену эвакуации автомобилей:<br>
      <span class="description">тип и марка транспортно средства;<br></span>
      <span class="description">характер повреждений;<br></span>
      <span class="description">место нахождения и дальность транспортировки;<br></span>
      <span class="description">необходимость оказания техпомощи на дороге.<br></span>
    </p>
    <p class="descr-block">
      Также в нашей компании предусмотрено повышение стоимости услуг эвакуатора при наличии ряда
      обстоятельств, усложняющих погрузку. Более подробно о них вам сообщит наш менеджер
      в индивидуальном порядке.
    </p>
  </article>
{% endblock %}